<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/mypage"> <img src="/logo.png" alt="" style="width: 30px;"> Hello math!!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/mypage">수업기록</a>
          <a class="nav-link" href="https://medium.com/math-dev" target="_blank">문제풀이링크</a>
        </div>
      </div>
    </div>
  </nav>